[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
cmake = "*"
dlib = "*"
lark = "1"
opencv-python = "*"

[dev-packages]
pytest = "7"
black = "*"
flake8 = "*"
pytest-xdist = "*"
pylint = "*"
isort = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true