[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
cmake = "*"
dlib = "*"
imageio = "*"
tqdm = "*"
opencv-python = "*"

[pipenv]
allow_prereleases = true